@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #596f78;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  background-color: var(--bg);
  color: var(--textColor);
  min-height: 100vh;
}

.container {
  width: 1200px;
  margin: auto;
}

.content {
  height: 100%;
  background: linear-gradient(
        to bottom right,
        #8f4791 0%,
        #d9659c 18%,
        #f7a050 38%,
        #faa051 44%,
        #cf642d 50%
      )
      bottom right / 50% 50% no-repeat,
    linear-gradient(
        to bottom left,
        #8f4791 0%,
        #d9659c 18%,
        #f7a050 38%,
        #faa051 44%,
        #cf642d 50%
      )
      bottom left / 50% 50% no-repeat,
    linear-gradient(
        to top left,
        #8f4791 0%,
        #d9659c 18%,
        #f7a050 38%,
        #faa051 44%,
        #cf642d 50%
      )
      top left / 50% 50% no-repeat,
    linear-gradient(
        to top right,
        #8f4791 0%,
        #d9659c 18%,
        #f7a050 38%,
        #faa051 44%,
        #cf642d 50%
      )
      top right / 50% 50% no-repeat;
  background-size: cover;
}
